.searchbox{width:450px; height:40px;border:1px solid #b7b9cc;border-radius:5px;} .search{border:none;margin-left:10px;} .top{display:flex;justify-content:end} .fa-solid{margin-left:20px;margin-top:10px;}
.alert{ position:relative;left:480px;height:50px;background-color:whitesmoke;opacity:10px}
.details{display:flex;gap:40px;}